<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 text-center">
                 <h2 class="section-heading">Who We Are</h2>
                <p class="lead">
                  My name is Chris Pelatari and I have been actively involved in full stack .NET development since the public beta of .NET version 1. 
                </p>
                <hr/>
                <a href="mailto:support@bluefenix.net?subject=Quote" class="btn btn-secondary btn-xl">Get a Quote</a>
            </div>
        </div>
    </div>
</section>