<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                 <h2 class="section-heading">Who We Are</h2>
                 <p>
                   <img src="http://www.gravatar.com/avatar/5c1c19f7bd77dfd7588df33df7886411?s=150" class="rounded-circle" width="150">
                 </p>
                 <div class="container text-left text-light">
                  <p class="lead">
                    I'm Chris Pelatari, a .NET developer with over 20 years of experience in the industry. I have been working with C# since its public beta in 2001, and have a deep understanding of the language and its various capabilities. I have worked on a wide variety of projects, from small websites to large enterprise applications.
                  </p>
                  <hr/>
                  <p>
                    Blue Fenix Productions is a small business web development company. We focus on creating mobile-first websites and applications that are easy to use and help promote your business. We believe that every small business should have a website, and we're here to make that happen. Whether you need a simple one-page website or a more complex application, we can help.
                  </p>
                  <hr/>
                </div>
            </div>
        </div>
    </div>
</section>