<section class="bg-blue-600 py-12" id="about">
  <div class="container mx-auto px-4">
    <div class="text-center">
      <h2 class="text-4xl font-bold text-white mb-4">Who We Are</h2>
      <p class="mb-8">
        <img alt="Chris Pelatari"
          src="http://www.gravatar.com/avatar/5c1c19f7bd77dfd7588df33df7886411?s=150"
          class="rounded-full mx-auto"
          width="150"
        />
      </p>
      <div class="text-left text-white">
        <p class="text-lg mb-4">
          I'm Chris Pelatari, a .NET developer with over 2 decades of
          experience in the industry. I have been working with C# since its
          public beta in 2001, and have a deep understanding of the language
          and its various capabilities, on a wide variety of
          productions; from small websites to large enterprise applications.
        </p>
        <p class="text-lg mb-4">
          Blue Fenix Productions LLC is a software development company.
          We focus on creating mobile-first websites and applications that are
          easy to use and help promote your business. Whether you need a simple one-page website or a more complex
          application, we can help.
        </p>
      </div>
    </div>
  </div>
</section>
