<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What you can expect</h2>
                <p>Proin volutpat suscipit ex vel euismod. Praesent quam enim, malesuada posuere scelerisque in, aliquam id neque. Mauris mauris nisi, malesuada sit amet venenatis ut, egestas a risus. Vivamus imperdiet metus vitae faucibus ultricies. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc vehicula erat nec metus ultricies pulvinar. Suspendisse justo tellus, faucibus lacinia ligula in, posuere vestibulum turpis. Proin nibh mi, gravida in tortor at, aliquam blandit erat. Pellentesque sit amet tellus enim. Etiam eget lorem a dui aliquet tempor eu sed sem.</p>
                <hr class="light">
                <a href="mailto:support@bluefenix.net?subject=Quote" class="btn btn-default btn-xl">Get a Quote</a>
            </div>
        </div>
    </div>
</section>
