<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Who We Are</h2>
                <p class="lead">Experience. For over 20 years I have been actively involved in <a href="https://dotnet.microsoft.com" class="btn btn-primary">.NET</a> and <a href="https://asp.net" class="btn btn-primary">ASP.NET</a>, having been awarded the Microsoft MVP for ASP.NET. I'm also an  <a href="https://aspinsiders.com" class="btn btn-primary">AspInsider</a>. I focus on simplicity, testability, and elegance in code. I am a full-stack developer with experience in the above technologies and I'm also familiar with <a href="https://aws.amazon.com" class="btn btn-primary">AWS</a> and <a href="https://github.com" class="btn btn-primary">git</a>.</p>
                <hr class="light">
                <a href="mailto:support@bluefenix.net?subject=Quote" class="btn btn-default btn-xl">Get a Quote</a>
            </div>
        </div>
    </div>
</section>
