<header class="bg-gray-800 text-white py-12">
  <div class="container mx-auto text-center">
    <img src="assets/images/fenix.png" alt="blue fenix LLC" width="64px" class="mx-auto mb-4" />
    <h1 class="text-5xl font-bold mb-4">Simple Solutions.</h1>
    <h3 class="text-2xl mb-4">Professional web sites and applications for your small business</h3>
    <p class="text-lg mb-8">Promote your business with a simple mobile-first web experience.</p>
    <a href="#findout" class="btn btn-outline-primary btn-xl">Find Out More</a>
  </div>
</header>
