<header>
  <div class="header-content">
    <div class="header-content-inner">
      <img src="assets/images/fenix.png" alt="blue fenix" width="64px" />
      <h1>Simple Solutions.</h1>
      <hr />
      <h3>Professional web sites and applications for your small business</h3>
      <p class="text-light">
        Promote your business with a simple mobile-first web experience.
      </p>
      <hr />
      <a href="#findout" class="btn btn-outline-primary btn-xl page-scroll"
        >Find Out More</a
      >
    </div>
  </div>
</header>
