<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img src="assets/images/fenix.png" alt="blue fenix" width="64px">
             <h1>Simple Solutions.</h1>
            <hr>
            <h3>Professional web sites and applications for your small business</h3>
            <p>Boost your sales with a simple mobile-first web experience to get more business online. </p>
            <hr>
            <blockquote class="blockquote text-secondary">&quot;Our life is frittered away by detail.
                <br>Simplify, simplify.&quot;
                <br>
            &#x2015; Henry David Thoreau</blockquote> <a href="#services" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>