<section id="portfolio" class="py-12 bg-gray-100">
  <h2 class="text-4xl font-bold text-center mb-8">Portfolio</h2>
  <div class="swiper-container relative">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img src="img/portfolio/vdb.png" class="w-full" alt="Velocity Databank">
        <div class="text-primary bg-gray-400 bg-opacity-75 p-4 rounded mt-4">
          <h5><a href="//velocitydatabank.com" class="text-white">Velocity Databank</a></h5>
          <p>Full scale ASP.NET MVC Application backed by <i class="fas fa-database"></i> Sql Server and hosted on Azure <img src="/assets/svgs/brands/10261-icon-service-Azure-DevOps.svg" class="inline-block w-6 h-6"></p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="img/portfolio/velsys.png" class="w-full" alt="VelSys">
        <div class="text-primary bg-gray-400 bg-opacity-75 p-4 rounded mt-4">
          <h5><a href="//velsys.velocitydatabank.com" class="text-white">VelSys</a></h5>
          <p>Customized ASP.NET MVC Application with Original Survey scans. <i class="fas fa-database"></i> Sql Server backed and <img src="/assets/svgs/brands/10261-icon-service-Azure-DevOps.svg" class="inline-block w-6 h-6"> Azure Cloud based.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="img/portfolio/theskullandcrown2.png" class="w-full" alt="The Skull and Crown">
        <div class="text-primary bg-gray-400 bg-opacity-75 p-4 rounded mt-4">
          <h5><a href="//theskullandcrown.com" class="text-white">The Skull and Crown</a></h5>
          <p>Custom html templates for a <i class="fab fa-shopify"></i> shopify based web store.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="img/portfolio/donedeal.png" class="w-full" alt="Done Deal Designs">
        <div class="text-primary bg-gray-400 bg-opacity-75 p-4 rounded mt-4">
          <h5><a href="//donedealdesigns.com" class="text-white">Done Deal Designs</a></h5>
          <p>Professional Small Business html<i class="fab fa-html5"></i> site hosted and maintained by Blue Fenix Productions.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="img/portfolio/nedyousef_com.png" class="w-full" alt="Ned Yousef">
        <div class="text-primary bg-gray-400 bg-opacity-75 p-4 rounded mt-4">
          <h5><a href="//nedyousef.com" class="text-white">Ned Yousef</a></h5>
          <p>Simple html<i class="fab fa-html5"></i> SAG actor and stunt cooridinator headshot site.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="img/portfolio/tuningmodel.png?v2" class="w-full" alt="Tuning Model">
        <div class="text-primary bg-gray-400 bg-opacity-75 p-4 rounded mt-4">
          <h5><a href="//velocitydatabank.com/tuningmodel" class="text-white">Tuning Model</a></h5>
          <p>Mid level single page application using <i class="fab fa-vuejs"></i> Vue.js with no Database backend.</p>
        </div>
      </div>
      <div class="swiper-slide">
        <img src="img/portfolio/bluefenix.png" class="w-full" alt="Blue Fenix Productions">
        <div class="text-primary bg-gray-400 bg-opacity-75 p-4 rounded mt-4">
          <h5>bluefenix.net</h5>
          <p>Over 60% of web browsing is now done on mobile phones. We will build a responsive site for you which works on the desktop and mobile.</p>
        </div>
      </div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination absolute bottom-0 left-0 right-0 mb-5"></div>
    <!-- Add Navigation -->
    <div class="swiper-button-next absolute top-1/2 right-0 transform -translate-y-1/2 pt-3"></div>
    <div class="swiper-button-prev absolute top-1/2 left-0 transform -translate-y-1/2 pt-3"></div>
  </div>
</section>

<script>
  var swiper = new Swiper('.swiper-container', {
    loop: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>
