<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="http://velocitydatabank.com" class="portfolio-box">
                    <img src="assets/images/vdb.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Professional Web Applications
                            </div>
                            <div class="project-name">
                                Velocity Databank
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://velsys.velocitydatabank.com" class="portfolio-box">
                    <img src="assets/images/velsys.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Custom ASP.NET Applications
                            </div>
                            <div class="project-name">
                                VelSys
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://theskullandcrown.com" class="portfolio-box">
                    <img src="assets/images/theskullandcrown2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Custom HTML Solutions
                            </div>
                            <div class="project-name">
                                The Skull and Crown
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://velocitydatabank.com/tuningmodel" class="portfolio-box">
                    <img src="assets/images/tuningmodel.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Responsive Web Applications
                            </div>
                            <div class="project-name">
                                Quicklook Tools: Tuning Model
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
