<section id="findout">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 text-center">
        <h2 class="section-heading">What We Offer</h2>
        <p class="lead">You're a small business owner. You've got great ideas and you're ready to get them out there. But you don't have the time or money to create a professional web presence.</p>

        <p>We get it. That's why we're here. We specialize in creating a professional web presence for your small business, so you can focus on what matters: your customers!</p>

        <img src="assets/images/fenix.png" alt="blue fenix" width="64px">
        <hr class="primary">
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 text-center">
        <div> <i class="fab fa-4x fa-html5 wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Small business websites</h3>
          <p>Custom websites are great. They give your company that extra edge of professionalism, and they make it easy to showcase the best of your brand.</p>

          <p>But how do you get a custom website when you're not a big company?</p>

          <p><h5>Simple: </h5>Blue Fenix will handle everything for you. We'll build your website, host it, and even manage the updates. We'll work with you to make sure it represents your brand as well as possible, and we'll make sure it's optimized for search engines. And all of this is done at an affordable price!</p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 text-center">
        <div> <i class="fas fa-4x fa-database wow bounceIn text-primary"></i>
          <h3>Full Stack ASP.NET Web Applications</h3>
          <p>Sql Server backed web applications are the best way to get the most out of your site. Whether you need logins, user tracking, or any other number of features, we've got you covered.</p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 text-center">
        <div> <i class="fa fa-4x fa-life-ring wow bounceIn text-primary" data-wow-delay=".3s"></i>
          <h3>Worry free hosting and support</h3>
          <p>We know what it's like to be a business owner. You've got a million things on your plate, and you just want to get some sleep at night.</p>

          <h5>We're here to help.</h5>

          <p>Every project we create recieves the highest level of care. You get a professional online presence without the headaches of maintaining it. Let us take one more concern off of your shoulders.</p>
        </div>
      </div>
    </div>
  </div>
</section>