<section id="findout">
  <div class="container">
      <div class="row">
          <div class="col-xl-12 text-center">
               <h2 class="section-heading">What We Offer</h2>
              <p class="lead">We specialize in creating a professional web presence for your small business.</p>
              <hr class="primary">
          </div>
      </div>
      <div class="row">
        <div class="col-xl-3 col-lg-6 text-center">
            <div class="service-box"> <i class="fab fa-4x fa-html5 wow bounceIn text-primary" data-wow-delay=".3s"></i>
                 <h3>Small business websites</h3>
                <p class="text-muted">Give your company that extra edge of a custom website.</p>
            </div>
        </div>
          <div class="col-xl-3 col-lg-6 text-center">
              <div class="service-box"> <i class="fab fa-4x fa-vuejs wow bounceIn text-primary"></i>
                   <h3>Interactive Single Page Applications</h3>
                  <p class="text-muted">Add a bit of mid-level interactivity to your site.</p>
              </div>
          </div>
          <div class="col-xl-3 col-lg-6 text-center">
            <div class="service-box"> <i class="fas fa-4x fa-database wow bounceIn text-primary"></i>
                 <h3>Full Stack ASP.NET Web Applications</h3>
                <p class="text-muted">Powerful Sql Server backed web applications. When you need logins, user tracking, and more.</p>
            </div>
        </div>
          <div class="col-xl-3 col-lg-6 text-center">
            <div class="service-box"> <i class="fa fa-4x fa-life-ring wow bounceIn text-primary" data-wow-delay=".3s"></i>
                 <h3>Worry free hosting and support</h3>
                <p class="text-muted">Every project we create recieves the highest level of care. You get a professional online presence without the headaches of maintaining it. Let us take one more concern off of your shoulders.</p>
            </div>
        </div>
      </div>
  </div>
</section>