---
---

@import "jekyll-theme-tactile";

body {
  border-top: 0.33em solid #36f;
  background: #ccc;
}

#container {
  min-height: 595px;
  background: none;
}

a {
  color: #36f;
}
a:hover {
  color: #09f
}

h3 {
  color: #36f;
}

header {
  text-align: center;
}

footer {
  text-align: center;
}

ul li {
  font-size: medium;
  margin-left: 4em;
  padding-left: 0;
}