<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/assets/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">    
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

{% seo %}
  </head>

  <body>
    <nav class="navbar navbar-expand navbar-light bg-transparent my-0">
      <a class="navbar-brand" href="https://bluefenix.net"><img src="/assets/images/fenix.png" width="45px" class="d-inline-block align-top"/></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link btn btn-lg" style="width: 48px" href="{{ site.github.owner_url }}"><i class="fab fa-github" ></i>
            </a>
          </li>
        </ul>
        <a href="mailto:support@bluefenix.net" class="btn btn-outline-primary">Contact Us</a>
      </div>
    </nav>
    <div id="container">
      <div class="inner">
        <header>
          <a href="https://{{ site.title | default: site.github.repository_name }}">
          <img src="/assets/images/header.png"></a>
          <h2> {{ page.description | default: site.description | default: site.github.project_tagline }} <i class="fas fa-code"></i></h2>
        </header>
        <section id="downloads" class="clearfix">
          {% if site.show_downloads %}
          <a href="{{ site.github.zip_url }}" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="{{ site.github.tar_url }}" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          {% endif %}
	{% if site.github.public %}
	  {% if site.github.is_project_page %}
          <a href="{{ site.github.repository_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% else %}
          <a href="{{ site.github.owner_url }}" id="view-on-github" class="button"><span>View on GitHub</span></a>
	  {% endif %}
	{% endif %}
        </section>
        <hr>
        <section id="main_content">
          {{ content }}
        </section>

        <footer>
        {% if site.github.is_project_page %}
        <a href="https://{{ site.title | default: site.github.repository_name }}">{{ site.title | default: site.github.repository_name }}</a> is maintained by <i class="fab fa-github"></i> <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a><br>  
        <a href="https://twitter.com/bluefenixpro"><i class="fab fa-twitter"></i></a> &middot; 
        <a href="https://chris.pelatari.com"><i class="fas fa-rss-square"></i></a> &middot; 
        <a href="https://legal.bluefenix.net"><i class="fas fa-balance-scale"></i> Legal</a> &middot; 
        <a href="mailto:support@bluefenix.net"><i class="fas fa-envelope-square"></i> support@bluefenix.net</a>
        {% endif %}
        </footer>

      </div>
    </div>

    {% if site.google_analytics %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>