<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include page_nav.html %}
  {% include header.html %}
  <section class="{{ page.bg }}" id="primary">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 text-center">
                 <h2 class="section-heading">{{ page.title }}</h2>
                 <p>
                   {{ page.img }}
                 </p>
                 <div class="container text-left {% if page.color %} {{ page.color }} {% endif %}">
                  {{ page.content }}
                </div>
            </div>
        </div>
    </div>
  </section>
  {% include contact.html %}
  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>